@font-face {
    font-family: 'Vulf Mono Regular';
    src:    url('../fonts/Vulf_Mono-Regular_web.eot');
    src:    url('../fonts/Vulf_Mono-Regular_web.eot?#iefix') format('embedded-opentype'),
            url('../fonts/Vulf_Mono-Regular_web.woff') format('woff'),
            url('../fonts/Vulf_Mono-Regular_web.woff2') format('woff2'),
            url('../fonts/Vulf_Mono-Regular_web.ttf') format('truetype'),
            url('../fonts/Vulf_Mono-Regular_web.svg#svgFontName') format('svg');
    font-weight: 400;
    font-style: normal;
}
