html, body {
  margin: 0px;
  padding: 0px;
  font-size: 16px;
}

* {
  box-sizing: border-box;
}

/*
  Dear World,

  This weird-ass height shit is the price we pay
  for a full height, scrollable virtual tabletop
  within a framework like Next.js.

  Please let me know if you find a better solution.

  Thanks,
  Frank.
*/

html, body {
  height: 100%;
}

body > div:first-child {
  height: 100%;
}

#__next {
  height: 100%;
}

#__next > div {
  height: 100%;
}
